<div
    style=" min-height: 1000px;  background-size:cover;  background-attachment: fixed; background-image: url('../../../assets/images/body-bg2.jpg'); ">
    <div class="container">
        <br><br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:30%;">Movie Packs</th>
                    <th style="width:10%;">Total Sequel</th>
                    <th style="width:10%;" colspan="2">Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of moviepack">
                    <td><button (click)="updatepackname(m['id'],m['name'])" class="btn btn-primary">{{m['name']}}
                        </button></td>
                    <td><button class="btn btn-warning">{{m['sequence']}}</button></td>
                    <td><button data-toggle="modal" data-target="#myModal" data-toggle="modal" data-target="#myModal"
                            (click)="getsequals(m['id'],m['name'])" class="btn btn-primary">Add & Update
                            Sequals</button></td>
                    <td><button (click)="deletepack(m['id'])" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>



        <div id="myModal" style="background: rgba(76, 175, 80, 0.3)" class="modal fade bd-example-modal-lg"
            tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="width: 900px">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{BaseName}}
                                    <a (click)="onEditCloseItems()" class="text-info float-right">
                                        <mat-icon aria-hidden="false">{{isEditItems ? 'do_not_disturb_on' :
                                            'edit'}}</mat-icon>
                                    </a>
                                </th>
                            </tr>
                        </thead>

                        <tbody *ngIf="!isEditItems">
                            <tr *ngFor="let field of fieldArray; let i = index">
                                <td *ngIf="field?.name">
                                    <mat-icon (click)="deleteFieldValue(i)" aria-hidden="false">do_not_disturb_on
                                    </mat-icon> {{field.name}}
                                </td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="isEditItems">
                            <tr *ngFor="let field of fieldArray; let i = index">
                                <td>
                                    <div><img [src]="field.image"></div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div (click)="deleteFieldValue(i)" class="input-group-text">
                                                <mat-icon aria-hidden="false">do_not_disturb_on</mat-icon>
                                            </div>
                                        </div>
                                        <input [(ngModel)]="field.id" class="form-control" type="text"
                                            name="{{field.id}}" placeholder="Name...">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <button class="btn btn-secondary btn-lg1" type="button"
                                        (click)="addFieldValue(index)" style="margin-right:10px">Add More Item</button>
                                    <button (click)="onEditCloseItems()" class="btn btn-primary btn-lg1"
                                        type="button">Save Items</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <button (click)="udatesequal(baseid)" data-dismiss="modal" class="btn btn-primary btn-sm"
                        type="button">Save
                        Items</button>
                </div>
            </div>
        </div>
        <br> <br><br><br>
    </div>
</div>